

main {
    display: flex;
    flex-wrap: wrap;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: skyblue;
}

.card {
    flex:1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background: lemonchiffon;
    font-weight: bold;
    flex-direction: column;
    text-emphasis-position: ;
    font-family: sans-serif;
    
}

.card img {
    width: 50%;
    min-width: 200px;
    border-radius: 25px;
    
    
}

.main-header img {
    width: 50%;
    max-width: 100px;
    border-radius: 50%;
    
    
}

nav {
    display: flex;
    background: paleturquoise;
    justify-content: center;
}

nav a {
    color: black;
    padding: 20px 20px;
    text-align: center;
}

aside {
    flex: 1;
    background-color: mediumaquamarine;
    padding: 80px;
    text-align: center;
    font-family: cursive;
}

p {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 3%;
    background-color: skyblue;
    font-weight: bold;
}



